@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

/*--------------------------------------- */
/*RESET & GENERAL*/
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: background 0.3s, border 0.3s, color 0.3s, opacity 0.3s, margin 0.3s ease-out;
}
#page-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header{
  width: 100%;
  height: 50px;
  background: #aaa;
  color: #fff;
}
.page-title{
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  font-weight: 300;
}
.page-main{
  width: 1000px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -500px;
  overflow: hidden;
}
::-webkit-scrollbar
{
  width: 10px;
  height: 10px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track
{
  background: transparent;
}
::-webkit-scrollbar-thumb
{
  background: #999;
}

/*--------------------------------------- */
/*THE EDITING AREA*/
aside{
  width: 300px;
  height: 550px;
  float: right;
}
.editor-tools{
	width: 100%;
	height: 100px;
	background: #aaa;
}
.editor-tools p{
  width: 100%;
}
.editor-p-large{
  height: 40px;
}
.editor-p-small{
  height: 30px;
}
.editor-btn{
  float: left;
  background: #aaa;
  color: #fff;
  cursor: pointer;
}
.editor-btn:hover{
  background: #09d;
}
.editor-btn:active{
  background: #039;
}
.editor-template-btn{
  width: 80px;
  height: 40px;
}
.editor-clear-btn{
  width: 50px;
  height: 40px;
}
.editor-single-btn, .editor-multi-btn{
  width: 60px;
  height: 40px;
}
.editor-export-btn{
  width: 50px;
  height: 40px;
}
.editor-add-btn{
  width: 25px;
  height: 30px;
}
.editor-add-style{
  width: 90px;
  height: 30px;
}
.editor-class-selector{
  width: 70px;
  height: 30px;
  float: left;
}
.editor-class-type{
  width: 70px;
  height: 30px;
  background: #aaa;
  color: #fff;
  cursor: pointer;
}
.editor-class-type:hover{
  background: #09d;
}
.editor-class-type:active{
  background: #039;
}
.editor-class-content{
  width: 100px;
  position: absolute;
  text-align: center;
  color: #000;
  display: none;
}
.editor-class-item{
  color: #fff;
  background: #555;
  cursor: pointer;
}
.editor-class-item:hover{
  background: #444;
}
.editor-class-item:active{
  background: #333;
}
.editor{
	width: 100%;
	height: 450px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #999;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	resize: none;
}
.editor:focus{
	border-color: #999;
	color: #333;
}

/*---------------------------------------*/
/*THE PREVIEW WINDOW*/
article{
	width: 701px;
	height: 550px;
	border: 1px solid #ccc;
  background: #fff;
}
.preview{
	width: 640px;
	height: 360px;
	background: #000;
  color: #fff;
}
.preview-single{
  margin: 95px auto;
}
.preview-multi{
  margin: 20px auto;
}
.cards-dock{
  width: 100%;
  height: 130px;
  background: #bbb;
  margin-top: 38px;
  overflow: auto;
}
.cards-container{
  height: 90px;
  margin: 15px 0;
}
.card-container{
  width: 160px;
  height: 90px;
  float: left;
  margin: 0 10px;
  background: #000;
  overflow: hidden;
  cursor: pointer;
}
.card{
  margin: -156px -240px;
  -webkit-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25);
}
.card-delete{
  width: 20px;
  height: 20px;
  position: relative;
  margin: 2px 0 0 138px;
  background: #c33;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.card-delete:hover{
  background: #c55;
}
.card-delete:active{
  background: #c00;
}
.card-container:hover .card-delete{
  opacity: 1;
}
.card-add{
  width: 160px;
  height: 90px;
  margin: 0 10px;
  background: #000;
  color: #fff;
  font-size: 65px;
  cursor: pointer;
}
.preview-hint{
	width: 100%;
	height: 180px;
	padding-top: 90px;
	text-align: center;
}
.preview-hint p{
	font-size: 25px;
	line-height: 90px;
	color: #fff;
}

/*--------------------------------------- */
/*TEMPLATE COLUMN*/
.template-container{
  width: 370px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -400px;
  background: #aaa;
  overflow: auto;
}
.template-container-show{
  margin-left: 0;
}
.template{
  margin: -50px 0 -160px -143px;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  cursor: pointer;
}
.template:last-child{
  margin-bottom: -30px;
}
.template-selected{
  box-shadow: 0 0 10px #09d;
}

/*---------------------------------------
/* COLORS */
.red {
  color: #c33;
}
.yellow {
  color: #db1;
}
.green {
  color: #9c3;
}
.blue {
  color: #34a7ff;
}
.white {
  color: #fff;
}
.gray {
  color: #808080;
}
.muted {
  color: #808080;
}